.imgWithText {
    padding: 20px;
    margin: 5px 5px 5px 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.imgWithText>p {
    font-family: 'Girassol', cursive;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.proImage {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.savedItems {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    justify-content: space-around;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}